@media (max-width: 768px) {
  .app-toolbar {
    z-index: 2;

    .logo {
      height: 90%;
      // margin: 0 auto !important;
    }

    .spacer {
      display: none;
    }
  }

  .home {
    .header {
      top: 12vh !important;

      &__logo {
        max-height: 120px !important;
      }
    }

    form {
      background-color: #fff;
      z-index: 1;
    }
  }

  .user-input {
    display: grid !important;
    grid-gap: 10px;
    
    .search-submit {
      button {
        width: calc(100% - 16px);
      }
    }

    .date,
    .guests {
      margin-left: 10px;
    }
  }
  .date-n-guests {
    overflow-x: scroll;
  }
  .user-info {
    margin-right: auto !important;
  }
  .hotels-loading__spinner {
    margin-top: 0 !important;
  }
  .hotel-search-filters-container {
    display: grid !important;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-left: 10px;
    height: 171px;
    padding-bottom: 20px !important;
    overflow: hidden;

    position: relative;

    transition: height .2s ease-in;

    &.scale-to-hide {
      // transform: scale(0);
      height: 0px;
      // ADD MARGINS
      // margin-top: 20px;
      // margin-bottom: 20px;

      * {
        height: 0;
        overflow: hidden;
      }
    }

    .filter {
      margin: 0 !important;
      align-items: flex-start !important;
    }

    .filter-price {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    
    .line-container {
      display: none !important;
    }

    .additional-filter {
      display: flex;
      justify-content: flex-start !important;
    }
  }

  .page-container {
    padding: 50px 10px !important;

    .currency-changer {
      top: 0 !important;  
      right: 10px !important;
    }

    .user-info {
      bottom: 5px !important;
      right: 10px !important;
    }

    &.mobile-fixed-padding {
      padding-top: 10px !important;
    }
  }
  
  .search-results-container {
    padding-top: 0 !important;
    .content {
      width: 100%;

      .hotel-list-item {
        grid-template-columns: 1fr;
        grid-gap: 10px !important;
        height: auto;

        .photo { 
          // FIXME
          overflow: hidden;
          width: 100%;
          .photo__image {
            transform: translateY(-50px)
          }
        }
        
        .price,
        .deal {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        .price {
          margin-top: 0 !important;
        }

        .price__provider {
          display: none;
        }

        .details__location {
          padding-top: 5px;
        }
      }
    }
  }

  .top-searches-container.top-searches {
    top: calc(50vh + 160px) !important;
  }

  .top-searches-container {
    height: 600px !important;
  }
}
