<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.jpg">
    <title>Zimalab Hotel Booking</title>

    <meta name="description" content="Zimalab Hotel Booking. Book a hotel with us!!">

    <!-- Roboto font and material icons for vuetify -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but gransjoy hotel booking doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="v-app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
