<template>
  <div class="home">
    <div class="header">
      <img 
        src="../assets/logo-g.png"
        alt="logo"
        class="header__logo"
      >

      <div class="header__text">
        Book a hotel with us!
      </div>
    </div>

    <HotelSearchInput />

    <!-- Comming soon -->
    <top-searches class="top-searches" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({
  components: {
    HotelSearchInput: () => import('@/components/HotelSearchInput.vue'),
    TopSearches: () => import('@/components/TopSearches/index.vue')
  }
})
export default class Home extends Vue {}
</script>

<style lang="scss" scoped>
.home {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  .empty {
    height: 300px;
  }

  .header {
    // padding-top: 275px;
    position: absolute;
    bottom: calc(50vh + 35px);
    margin: 0 auto;
    // max-width: 300px;

    &__text {
      margin-top: 20px;
      text-align: center;
      font-size: 18px;
    }

    &__logo {
      max-height: 200px;
    }
  }

  .top-searches {
    position: absolute;
    top: calc(50vh + 35px + 68px);
    margin: 0 auto;
  }
}
</style>
