<template>
  <div class="search-results-container">
    <div class="header">
      <HotelSearchInput @search-reset="updateList" />
      <HotelSearchFilters @filter-change="handleFilterChange" />
    </div>

    <div class="content" v-if="!loading">
      <HotelListItem
        v-for="hotel in hotelList"
        :key="hotel.id"
        :hotel="hotel"

        class="content__item"
      />

      <v-pagination
        v-if="totalPages > 1"
        v-model="currentPage"
        :length="totalPages"
        total-visible="5"
        class="content__pagination"
      />
    </div>

    <div v-else class="content content--loading">
      <HotelsLoading />
    </div>

    <div v-if="!loading && hotelList.length === 0" class="content content--loading">
      No hotels found
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import Hotel from '@/models/Hotel'
import HotelSearchQuery from '@/models/HotelSearchQuery'
import SearchFilter from '@/models/hotelSearchFilter'

@Component({
  components: {
    HotelSearchInput: () => import('@/components/HotelSearchInput.vue'),
    HotelListItem: () => import('@/components/HotelListItem.vue'),
    HotelSearchFilters: () => import('@/components/HotelSearchFilters.vue'),
    HotelsLoading: () => import('@/components/HotelsLoading.vue')
  }
})
export default class Home extends Vue {
  loading: boolean = false

  hotelList: Array<Hotel> = []

  hotelListRaw: Array<object> = []
  hotelListRawFull: Array<object> = []

  perPage: number = 10
  currentPage: number = 1
  totalPages: number = 1

  get currency() {
    return this.$store.state.currency
  }

  mounted () {
    this.updateList()
  }

  @Watch('currency')
  updateList () {
    this.loading = true
    
    this.currentPage = 1

    this.$api.searchHotel((new HotelSearchQuery(this.$route.query)).getQuery())
      .then(r => {
        const { data } = r
        
        if (data.status === 'ok') {
          
          this.$api.searchHotelBySearchId(data.searchId, {
            sortBy: 'stars',
            sortAsc: 0
          })
            .then(response => {
              try {
                const { data } = response

                this.hotelList = []
                for (let i: number = 0; i < this.perPage; i++) {
                  this.hotelList.push(data.result[i])
                }

                this.totalPages = Math.floor(data.result.length / this.perPage) + 1

                this.hotelListRaw = this.hotelListRawFull = data.result
  
                this.loading = false
              } catch (e) {
                console.log('Something went wrong with handling response.')
                console.log(response)
                console.log(JSON.parse(JSON.stringify(e)))
              }
            })
            .catch(err => {
              console.log(JSON.parse(JSON.stringify(err)))
            })
        }
      })
      .catch(e => {
        this.loading = false
        console.log(JSON.parse(JSON.stringify(e)))
        if (e.message && e.message.indexOf('400') !== -1)  {
          this.$store.dispatch('showError', 'Bad request. Probably something wrong with IATA city code')
        } else {
          this.$store.dispatch('showError', 'Something went wrong')
        }
      })
  }

  @Watch('currentPage')
  handlePageChange () {
    this.hotelList = []

    const startIndex = (this.currentPage - 1) * this.perPage

    for (let i: number = startIndex; i < startIndex + this.perPage; i++) {
      if (i < this.hotelListRaw.length) {
        this.hotelList.push(this.hotelListRaw[i] as Hotel)
      } else {
        break
      }
    }
  }

  handleFilterChange (filter: SearchFilter) {
    if (!this.loading) {
      this.loading = true
  
      this.hotelListRaw = JSON.parse(JSON.stringify(this.hotelListRawFull))
  
      if (filter.minStars) {
        this.hotelListRaw = this.hotelListRaw.filter((e: any) => {
          return e.stars === filter.minStars
        })
      }
      
      if (filter.minRating) {
        this.hotelListRaw = this.hotelListRaw.filter((e: any) => {
          return e.rating >= filter.minRating * 10
        })
      }
      
      this.hotelListRaw = this.hotelListRaw.filter((e: any) => {
        return e.price <= filter.price / 100
      })
      
      this.hotelListRaw = this.hotelListRaw.sort((a: any, b: any) => {
        return (a[filter.sortBy] - b[filter.sortBy]) * filter.sortAsc
      })
      
      if (this.currentPage === 1) {
        this.handlePageChange()
      } else {
        this.currentPage = 1
      }
      
      this.totalPages = Math.floor(this.hotelListRaw.length / this.perPage) + 1
  
      this.loading = false
    }
  }
}
</script>

<style lang="scss" scoped>
.search-results-container {
  padding-top: 20px;

  .content--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
  }

  .content__item {
    margin-bottom: 20px;
  }

  .content__pagination {
    display: flex;
    justify-content: center;
  }

  .header {
    margin-bottom: 20px;
  }
}
</style>
