<template>
  <v-card
    class="hotel-list-item"
  >
    <div class="photo">
      <v-img class="photo__image" :src="photoLink" alt="Hotel photo" />
    </div>

    <div class="details">
      <div class="details__name">
        {{ hotel.name }}

        <div class="hotel-type">
          hotel
        </div>
      </div>

      <div class="details__stars">
        <v-rating
          v-model="hotel.stars"
          color="amber"
          :length="9"
          :readonly="true"
          empty-icon=""
        />
      </div>

      <v-divider />

      <div class="details__location">

        <v-dialog v-model="showOnMap" width="740">
          <template v-slot:activator="{ on }">
            <div v-on="on" class="location--address">
              <v-icon class="location--address__icon">location_on</v-icon>
              {{ hotel.address }}
            </div>
          </template>

          <HotelOnMap :location="hotel.location" :address="hotel.address" />
        </v-dialog>
      </div>

      <v-divider />

      <div class="details__user-rating">
        <div class="rating">
          <div class="rating__value">
            {{ hotel.rating / 10 }}
          </div>

          <div class="rating__description">
            Guest's rating
          </div>
        </div>
      </div>

      <div class="details__description">
        {{ hotel.description }}
      </div>
    </div>

    <div class="deal">
      <div class="price">
        <div class="price__provider">
          {{ hotel.provider }}
        </div>

        <div class="price__value">
          {{ hotel.price }}{{ $store.state.currencySymbol }}
        </div>
      </div>

      <v-btn
        class="deal__btn"
        color="green"
        dark
        @click="openInNewTab(hotel.fullUrl)"
      >
        Book now
      </v-btn>
    </div>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import Hotel from '@/models/Hotel.ts'

@Component({
  components: {
    HotelOnMap: () => import('@/components/HotelOnMap.vue')
  }
})
export default class HotelListItem extends Vue {
  @Prop() readonly hotel!: Hotel

  photoLink: string = ''

  showOnMap: boolean = false

  mounted () {
    const photoId = this.hotel.photosByRoomType[1] || 1
    this.photoLink = this.$api.getHotelPhotoLink(this.hotel.id, photoId)
  }

  openInNewTab (url: string) {
    const win = window.open(url, '_blank')
    if (win) {
      win.focus()
    } else {
      console.error(`Couldn't open link in new tab or focus on it`)
    }
  }
}
</script>

<style lang="scss" scoped>
  .hotel-list-item {
    padding: 10px;

    display: grid;
    height: 200px;
    grid-template-columns: 200px 1fr 150px;
    grid-gap: 10px;

    .photo { 
      // FIXME
      overflow: hidden;
      height: 180px;
      width: 200px;
      // border-radius: px;
    }

    .details {
      display: grid;
      // grid-gap: 5px;

      &__name {
        font-size: 24px;
        display: flex;
        align-items: flex-end;
        
        .hotel-type {
          margin-left: 10px;
          margin-bottom: 4px;
          color: gray;
          font-size: 16px;
        }
      }

      // &__description {
      //   margin-top: auto;
      //   margin-bottom: auto;
      // }

      &__location {
        display: flex;
        align-items: center;
        padding-bottom: 5px;

        i {
          font-size: 20px;
        }

        .location--address {
          display: flex;
          align-items: center;

          &:hover {
            cursor: pointer;

            .location--address__icon {
              color: #1976d2;
            }
          }
        }
      }

      &__user-rating {
        margin-top: 10px;

        .rating {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          // margin-top: 5px;

          &__value {
            padding: 0px 7px;
            background-color: #4caf50;
            border-radius: 10px;
            color: #fff;
          }

          &__description {
            margin-left: 5px;
          }
        }
      }
    }

    .price,
    .deal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .deal {
      .price {
        margin-top: auto;
        &__value {
          color: green;
          font-size: 20px;
        }
      }

      &__btn {
        margin-top: auto;
      }
    }
  }
</style>
