<template>
  <v-form
    class="user-input"
    lazy-validation
    v-model="formValid"
    ref="searchForm"
    @submit.prevent="handleSearchSubmit"
  >
    <v-autocomplete
      v-model="city"
      :items="cities"
      :rules="[v => !!v || 'City is required']"
      :loading="citiesLoading"
      :search-input.sync="citySearch"
      prepend-icon="search"
      persistent-hint
      :hide-no-data="(!citySearch || citySearch.length < 2) || citiesLoading"
      no-data-text="No cities matches your input"
      @keyup.enter.prevent="handleSearchSubmit"
      label="Enter your city"
    />
  
    <VerticalLine />

    <div class="date-n-guests">
      <div class="date">
        <v-icon class="date__icon">event</v-icon>

        <v-menu
          v-model="menuDateStart"
          :close-on-content-click="false"          
          bottom
          origin="center center"
          transition="slide-x-transition"
        >
          <template v-slot:activator="{ on }">
            <div 
              class="select"
              v-on="on"
            >
              <div class="select__header">
                Check in
              </div>

              <div class="select__value">
                {{ dateStart || 'Select a date' }}
              </div>
            </div>
          </template>

          <v-date-picker
            :allowed-dates="dateStartAllowed"
            v-model="dateStart"
          />
        </v-menu>

        <VerticalLine />

        <v-icon class="date__icon">event</v-icon>

        <v-menu
          v-model="menuDateEnd"
          :close-on-content-click="false"          
          bottom
          origin="center center"
          transition="slide-x-transition"
        >
          <template v-slot:activator="{ on }">
            <div 
              class="select"
              v-on="dateStart.length > 0 ? on : null"
              :disabled="dateStart.length === 0"
            >
              <div class="select__header">
                Check out
              </div>

              <div class="select__value">
                {{ dateEnd || 'Select a date' }}
              </div>
            </div>
          </template>

          <v-date-picker
            v-model="dateEnd"
            :allowed-dates="dateEndAllowed"
          />
        </v-menu>
      </div>

      <VerticalLine />

      <div class="guests">
        <v-icon class="guests__icon">people</v-icon>

        <v-menu
          v-model="menuGuests"
          :close-on-content-click="false"
          bottom
          origin="center center"
          transition="slide-x-transition"
          :nudge-width="200"
        >
          <template v-slot:activator="{ on }">
            <div 
              class="select"
              v-on="on"
            >
              <div class="select__header">
                Room type
              </div>

              <div class="select__value">
                {{ roomType }}
              </div>
            </div>
          </template>

          <v-card>
            <div class="room-type-select" dark>
              <v-radio-group v-model="roomType">
                <v-radio
                  label="One person room"
                  :value="'One person room'"
                />

                <v-radio
                  label="Two person room"
                  :value="'Two person room'"
                />

                <v-radio
                  
                  label="Family room"
                  :value="'Family room'"
                />
              </v-radio-group>
            </div>
          </v-card>
        </v-menu>
      </div>
    </div>

    <VerticalLine />

    <div class="search-submit">
      <v-btn
        color="green"
        dark
        @click="handleSearchSubmit"
      >
        Search
      </v-btn>
    </div>
  </v-form>
</template>

<script lang="ts">
import { Component, Vue, Ref, Emit, Watch } from 'vue-property-decorator'
import { VForm } from '@/models/VForm'
import dateFormat from '@/utils/dateFormat.ts'

interface IIndexable {
  [key: string]: any
}

@Component({
  components: {
    VerticalLine: () => import('@/components/VerticalLine.vue')
  }
})
export default class HotelSearchInput extends Vue {
  city: string = ''
  citySearch: string = ''
  dateStart: string = dateFormat('today', 7)
  dateEnd: string = dateFormat('tommorow', 7)
  roomType: string = 'Two person room'
  menuDateStart: boolean = false
  menuDateEnd: boolean = false
  menuGuests: boolean = false
  formValid: boolean = false

  cities: Array<string> = []
  cityCodes: IIndexable = {}

  citiesLoading: boolean = false

  @Ref() readonly searchForm!: VForm

  @Watch('dateStart')
  handleDateStartChange (val: string, oldVal: string) {
    this.dateEnd = dateFormat((new Date((new Date(val)).getTime() + 24 * 60 * 60 * 1000)).getTime())

    if (val.slice(-2) !== oldVal.slice(-2)) {
      this.menuDateStart = false
    }
  }

  @Watch('dateEnd')
  handleDateEndChange (val: string, oldVal: string) {
    if (val.slice(-2) !== oldVal.slice(-2)) {
      this.menuDateEnd = false
    }
  }

  @Watch('roomType')
  handleRoomTypeChange () {
    this.menuGuests = false
  }

  @Watch('citySearch')
  handleCityChange (val: string, oldVal: string) {
    if (val && val.length >= 2) {
      this.citiesLoading = true
      this.$api
        .getCityAutocomplete(this.citySearch)
        .then(r => {
          this.cities = []
          this.cityCodes = {}

          r.cities.forEach((e: string) => {
            this.cities.push(e)
          })

          this.cityCodes = r.cityCodes
          this.citiesLoading = false
        })
    } else {
      this.cities = []
    }
  }

  mounted () {
    const query = this.$route.query

    if (query) {
      if (query.checkIn) {
        this.dateStart = query.checkIn as string
      }

      if (query.checkOut) {
        this.dateEnd = query.checkOut as string
      }

      if (query.city && query.iata) {
        this.cities.push(query.city as string)
        this.cityCodes[query.city as string] = query.iata as string
        this.city = query.city as string
      }
    } else {
      this.$router.push('/')
    }
  }

  @Emit('search-reset')
  handleSearchSubmit() {
    if (this.searchForm.validate()) {
      let url = '/search?'
      url += 'checkIn=' + this.dateStart
      url += '&checkOut=' + this.dateEnd
      
      url += '&iata=' + this.cityCodes[this.city]
      url += '&city=' + this.city

      switch (this.roomType) {
        case 'Family room':
          url += '&adultsCount=2'
          url += '&childrenCount=2'
          break
          
        case 'One person room':
          url += '&adultsCount=1'
          break

        case 'Two person room':
          url += '&adultsCount=2'
          break

        default:
          url += '&adultsCount=2'
      }
  
      this.$router.push(url)
    }
  }

  dateStartAllowed (dateString: string): boolean {
    const dateGiven = new Date(dateString)
    const dateNow = new Date(Date.now() - 1000 * 60 * 60 * 24)
    const dateEnd = new Date(dateNow.getTime() + 30 * 24 * 60 * 60 * 1000)

    return dateGiven.getTime() > dateNow.getTime() && dateGiven.getTime() < dateEnd.getTime()
  }

  dateEndAllowed (dateString: string): boolean {
    const dateGiven = new Date(dateString)
    const dateStart = new Date(this.dateStart)
    const dateEnd = new Date((new Date(this.dateStart)).getTime() + 30 * 24 * 60 * 60 * 1000)

    return dateGiven.getTime() > dateStart.getTime() && dateGiven.getTime() < dateEnd.getTime()
  }
}
</script>

<style lang="scss">
.room-type-select {
  padding-top: 10px;
  padding-left: 10px;
  background-color: #ffffff;
}
</style>

<style lang="scss" scoped>
.user-input {
  display: flex;

  .date-n-guests {
    display: flex;
  }

  .date {
    display: flex;

    &__icon {
      margin-right: 10px;
    }
  }

  .guests {
    display: flex;
    align-items: center;

    .select {
      width: 120px;
    }

    &__icon {
      margin-right: 10px;
    }
  }

  .select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 90px;

    &:hover {
      cursor: pointer;
    }

    &__header {
      font-size: 12px;
      color: gray;
    }
  }

  .search-submit {
    display: flex;
    align-items: center;
  }
}
</style>
