<template>
  <div class="hotels-loading">
    <v-progress-circular
      indeterminate
      class="hotels-loading__spinner"
    />

    <div class="hotels-loading__header">
      Looking for the offers...

      <div class="description" v-if="cityInformation.length > 0">
        <img
          class="wikipedia-logo"
          src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png"
          alt="wikipedia logo"
        />

        <img
          v-if="cityPhotoUrl.length > 0"
          class="description__city-photo"
          :src="cityPhotoUrl"
          alt="city's photo"
        />

        <div class="description__header">
          {{ this.$route.query.city }}
        </div>

        <div class="description__text" v-html="cityInformation"></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import Hotel from '@/models/Hotel.ts'

@Component
export default class HotelListItem extends Vue {
  cityInformation: string = ''
  cityPhotoUrl: string = ''

  mounted () {
    if (this.$route.query && typeof this.$route.query.city === 'string') {
      const city = this.$route.query.city.slice(0, this.$route.query.city.lastIndexOf(', '))

      this.$api.getWikipediaCityInfo(city)
        .then(r => {
          const { data } = r
          const page = data.query.pages[Object.keys(data.query.pages)[0]]

          const linkToWikipedia = `<a href="https://en.wikipedia.org/?curid=${page.pageid}" target="_blank">read more</a>`

          if (page.extract) {
            this.cityInformation = page.extract.slice(0, 1000) + '...' + linkToWikipedia
          }
        })
      
      this.$api.getCityPhoto(city)
        .then(r => {
          const { data } = r
          this.cityPhotoUrl = data.photos[0].image.web
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.hotels-loading {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 18px;
    margin-top: 30px;

    text-align: center;

    .description {
      margin-top: 30px;
      text-align: left;

      max-width: 100%;
      border: 1px solid #d3d3d3;
      border-radius: 5px;
      position: relative;
      padding: 20px;
      padding-top: 50px;

      &__header {
        margin-bottom: 10px;
      }

      &__text {
        font-size: 14px;
      }

      &__city-photo {
        width: 100%;
        margin-top: -30px;
      }

      .wikipedia-logo {
        position: absolute;
        top: -25px;
        right: -20px;
        width: 100px;
      }
    }
  }

  &__spinner {
    margin-top: 50px;
  }
}
</style>
