<template>
  <div class="hotel-on-map-container">
    <v-card>
      <v-card-text>
        <div class="header">
          <div class="header__title">
            Hotel on map
          </div>

          <div class="header__description">
            {{ address }}, {{ this.$route.query.city }}
          </div>
        </div>

        <GmapMap
          :center="{lat: location.lat, lng: location.lon}"
          :zoom="17"
          map-type-id="roadmap"
          style="width: 100%; height: 450px"
        >
          <GmapMarker
            :position="{lat: location.lat, lng: location.lon}"
            :clickable="true"
          />
        </GmapMap>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class HotelListItem extends Vue {
  @Prop() readonly location!: object
  @Prop() readonly address!: string
}
</script>

<style lang="scss" scoped>
.hotel-on-map-container {
  .header {
    margin-bottom: 10px;
    display: grid;
    grid-gap: 5px;

    &__title {
      font-size: 22px;
    }

    &__description {
      font-size: 16px;
    }
  }
}
</style>
