<template>
  <div class="hotel-search-filters-container-outer">
    <div class="expander" @click="hidden = !hidden">
      Additional filters
      
      <v-icon class="expander__arrow-icon" :class="{'is-open': !hidden}">
        keyboard_arrow_down
      </v-icon>
    </div>

    <div class="hotel-search-filters-container" :class="{'scale-to-hide': hidden}">
      <div class="filter-price">
        <v-slider
          v-model="tempPrice"
          label="Price"
          :tick-size="stepPrice"
          :step="stepPrice"
          :max="maxPrice"
          @end="filter.price = tempPrice"
        />

        <div class="filter-price__price">
          {{ tempPrice / 100 }}{{ $store.state.currencySymbol }}
        </div>
      </div>

      <VerticalLine />
      
      <div class="additional-filter">
        <v-menu
          transition="slide-y-transition"
          bottom
          :close-on-content-click="false"
        >
          <template v-slot:activator="{ on }">
            <div class="filter" v-on="on">
              <div class="filter__header">
                Stars
              </div>

              <div class="filter__btn">
                {{ filter.minStars ? 'at least ' + filter.minStars : 'All stars' }}
              </div>
            </div>
          </template>

          <div class="menu menu--stars">
            <div class="stars">
              <div class="stars__header">
                Filter by stars
              </div>

              <v-rating
                class="stars__select"
                v-model="filter.minStars"
                clearable
                color="amber"
                background-color="amber"
              />
            </div>
          </div>
        </v-menu>
      </div>

      <VerticalLine />

      <div class="additional-filter">
        <v-menu
          transition="slide-y-transition"
          bottom
          :close-on-content-click="false"
        >
          <template v-slot:activator="{ on }">
            <div class="filter filter--rating" v-on="on">
              <div class="filter__header">
                Guests rating
              </div>

              <div class="filter__btn">
                {{ filter.minRating ? 'more then ' + filter.minRating : 'Any' }}
              </div>
            </div>
          </template>

          <div class="menu menu--slider menu--user-rating">
            <div class="header">
              <span class="header__static">
                Rating: 
              </span>

              <span class="header__dynamic">
                {{ filter.minRating ? 'more then ' + filter.minRating : 'Any' }}
              </span>
            </div>

            <v-slider
              v-model="filter.minRating" 
              :tick-size="1"
              :step="1"
              :max="9"
            />

            <!-- <div class="slider__value">
              
            </div> -->
          </div>
        </v-menu>
      </div>

      <VerticalLine />

      <div class="additional-filter">
        <v-menu
          transition="slide-y-transition"
          bottom
          :close-on-content-click="false"
        >
          <template v-slot:activator="{ on }">
            <div class="filter filter--last" v-on="on">
              <div class="filter__header">
                Sorting options
              </div>

              <div class="filter__btn">
                Sort by {{ filter.sortBy }}, {{ filter.sortAsc === 1 ? 'ascending' : 'descending' }}
              </div>
            </div>
          </template>

          <div class="menu menu--option-chips menu--additional">
            <v-select
              :items="availableSortOptions"
              label="Sort by"
              @change="handleSortByChange"
              :value="filter.sortBy"
            />

            <v-select
              :items="['ascending', 'descending']"
              label="Sort order"
              @change="handleSortOrderChange"
              :value="filter.sortAsc === 1 ? 'ascending' : 'descending'"
            />
          </div>
        </v-menu>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch, Emit } from 'vue-property-decorator'
import SearchFilter from '@/models/hotelSearchFilter'

@Component({
  components: {
    VerticalLine: () => import('@/components/VerticalLine.vue')
  }
})
export default class HotelSearchFilters extends Vue {
  filter: SearchFilter = {
    price: this.$store.state.currency === 'RUB' ? 100 * 100000 : 100 * 1000,
    minStars: 0,
    minRating: 0,
    additional: [],
    sortBy: 'stars',
    sortAsc: -1
  }

  tempPrice: number = this.filter.price

  maxPrice: number = 100000
  stepPrice: number = 1000

  availableSortOptions: Array<string> = [
    'price',
    'rating',
    'stars'
  ]

  selectedSortByOption: string = 'popularity'

  hidden: boolean = true

  get currency() {
    return this.$store.state.currency
  }

  @Watch('currency')
  handleCurrencyChange (val: string) {
    if (val === 'RUB') {
      this.maxPrice = this.tempPrice = this.filter.price = 100 * 100000
      this.stepPrice = 100 * 1000
    } else {
      this.maxPrice = this.tempPrice = this.filter.price = 100 * 1000
    }
  }

  handleSortByChange (val: string): void {
    this.filter.sortBy = val
  }

  handleSortOrderChange (val: string): void {
    this.filter.sortAsc = (val === 'ascending') ? 1 : -1
  }

  /**
   * Emits `filter-change` event when `filter` is changed.
   */
  @Emit('filter-change')
  @Watch('filter', { immediate: true, deep: true })
  handleStarsChange (): SearchFilter {
    return this.filter
  }
}
</script>

<style lang="scss">
@media (min-width: 769px) {
  .expander {
    display: none !important;
  }
}

.menu {
  padding: 10px;
  background-color: #ffffff;

  &--slider {
    display: flex;
    align-items: center;

    .slider__value {
      margin-left: 10px;
      font-size: 16px;
    }

    &.menu--user-rating {
      display: grid;

      .header {
        margin-top: 10px;
        font-size: 16px;

        &__static {
          font-weight: bold;
        }
      }
    }
  }

  &--option-chips {
    max-width: 240px;
  }
}

.option-chip {
  .v-chip__content {
    &:hover {
      cursor: pointer;
    }
  }
}
</style>

<style lang="scss" scoped>
.expander {
  margin: 0 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &__arrow-icon {
    transition: all .2s ease;

    &.is-open {
      transform: rotate(180deg)
    }
  }
}

.hotel-search-filters-container {
  display: flex;
  justify-content: space-between;

  .filter-price {
    padding-top: 5px;

    display: flex;
    align-items: center;

    &__price {
      width: 60px;
      margin-left: 12px;
      padding-bottom: 5px;
      font-size: 18px;
    }
  }

  .additional-filter {
    display: flex;
    align-items: center;
  }

  .filter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    max-width: 150px;

    margin: 0 auto;

    &__header {
      font-size: 12px;
      color: gray;
    }

    &:hover {
      cursor: pointer;
    }

    &.filter--last {
      margin-right: 0;
      min-width: 190px;
    }


  }
}
</style>
