<template>
  <div class="line-container">
    <div class="line"></div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class VerticalLine extends Vue {}
</script>

<style lang="scss" scoped>
.line-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 10px;

  .line {
    width: 1px;
    height: 50%;
    background-color: lightgray;
  }
}
</style>
