<template>
  <div id="v-app">
    <v-app>
      <div class="app-toolbar" >
        <img
          v-if="$route.path !== '/'"
          src="@/assets/logo-header-croped.png"
          alt="gransjoy's logo"
          @click="$router.push('/')"
          class="logo"
        />

        <!-- <v-spacer /> -->

        <div class="user-info">
          <img
            alt="guest user's avatar"
            class="user-info__avatar"
            src="@/assets/traveler-smile.png"
          />

          <div class="user-info__name">
            Guest user
          </div>
        </div>

        <div class="currency-changer">
          <v-select
            v-model="selectedCurrency"
            :items="Currencies"
            item-text="name"
            item-value="abbr"
            label="Select currency"
          />
        </div>

        <!-- <v-toolbar-items class="hidden-sm-and-down">
          <v-btn flat> Sign up </v-btn>
          <v-btn flat> Log in </v-btn>
          <v-btn flat> About </v-btn>
        </v-toolbar-items> -->
      </div>

      <div class="page-container" :class="{'mobile-fixed-padding': $route.path === '/search'}">
        <router-view />
      </div>

      <v-snackbar
        v-model="$store.state.error"
        :top="true"
      >
        {{ $store.state.errorText }}
        <v-btn
          color="pink"
          flat
          @click="$store.state.error = false"
        >
          Close
        </v-btn>
      </v-snackbar>
    </v-app>
  </div>
</template>

<script lang="ts">
import '@/styles/mobile.scss'
import { Component, Vue, Watch } from 'vue-property-decorator'
import Currencies from '@/models/Currencies'

@Component
export default class Home extends Vue {
  selectedCurrency: string = this.$store.state.currency
  Currencies = Currencies

  @Watch('selectedCurrency')
  handleCurrencyChange (val: string) {
    this.$store.dispatch('setCurrency', this.selectedCurrency)
  }
}
</script>

<style lang="scss">
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.theme--light.application {
  background-color: #ffffff !important;
}

.v-toolbar__content {
  background-color: #ffffff !important;
}

#app {
  .accent--text {
    color: #1976d2 !important;
    caret-color: #1976d2 !important;
  }
}

body {
  overflow-x: hidden;
}

.currency-changer {
  .v-label.v-label--active.theme--light {
    opacity: 0;
  }
}

#v-app {
  overflow-y: -webkit-paged-y;
}
</style>

<style lang="scss" scoped>
#v-app {
  min-height: 100%;

  .app-toolbar {
    position: relative;
    height: 54px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    .currency-changer {
      // position: absolute;
      // top: 20px;
      // right: 20px;
      width: 50px;
    }

    .user-info {
      // position: absolute;
      // bottom: 20px;
      // right: 20px;
      // width: 200px;

      // margin: 0 auto !important;
      margin-left: auto;
      margin-right: 40px;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      &__avatar {
        height: 28px;
        margin-right: 5px;
      }

      &__name {
        font-size: 16px;
      }
    }
  }

  .page-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    min-height: calc(100% - 64px);    

    
  }

  .logo {
    max-height: 90%;

    &:hover {
      cursor: pointer;
    }
  }
}
</style>
