<template>
  <div class="top-searches-container">
    <div
      class="city"
      v-for="city in cities"
      :key="city.name"
      :style="{'--photo': `url('${city.photo}')`}"
      :class="city.additionalClass"
      @click="$router.push(city.linkToSearch)"
    >
      <div class="overflow">
        <div class="overflow__header">
          {{ city.name }}
        </div>

        <div class="overflow__description">
          {{ city.description }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class Home extends Vue {
  cities: Array<object> = [
    {
      name: 'London',
      description: 'London is a capital of Great Britain!',
      photo: 'https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/03/10/11/best-london-travel-guides.jpg?w968h681',
      additionalClass: 'long-x long-y',
      linkToSearch: '/search?checkIn=2019-07-26&checkOut=2019-07-27&iata=LON&city=London,%20United%20Kingdom&adultsCount=2'
    },
    {
      name: 'Rome',
      description: 'Sweet Italian!',
      photo: 'https://lonelyplanetimages.imgix.net/mastheads/stock-photo-roman-sunset-77415821.jpg?sharp=10&vib=20&w=1200',
      additionalClass: '',
      linkToSearch: '/search?checkIn=2019-07-26&checkOut=2019-07-27&iata=ROM&city=Rome,%20Italy&adultsCount=2'
    },
    {
      name: 'Paris',
      description: 'Bonjour!',
      photo: 'https://www.telegraph.co.uk/content/dam/Travel/2018/May/paris.jpg?imwidth=450',
      additionalClass: '',
      linkToSearch: '/search?checkIn=2019-07-26&checkOut=2019-07-27&iata=PAR&city=Paris,%20France&adultsCount=2'
    },
    {
      name: 'Amsterdam',
      description: 'Hello, Mary Jane!',
      photo: 'https://cdn.getyourguide.com/img/tour_img-905451-148.jpg',
      additionalClass: '',
      linkToSearch: '/search?checkIn=2019-07-26&checkOut=2019-07-27&iata=AMS&city=Amsterdam,%20Netherlands&adultsCount=2'
    },
    {
      name: 'Kiev',
      description: 'Ukraine one love!!!',
      photo: 'https://img.theculturetrip.com/768x432/wp-content/uploads/2017/09/36290213642_40aceb9ee7_k.jpg',
      additionalClass: 'long-x',
      linkToSearch: '/search?checkIn=2019-07-26&checkOut=2019-07-27&iata=IEV&city=Kiev,%20Ukraine&adultsCount=2'
    }
  ]
}
</script>

<style lang="scss" scoped>
.top-searches-container {
  width: calc(100vw - 20px);
  height: 1000px;
  max-width: 850px;
  margin: 0 auto;

  border-radius: 5px;
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;

  .city {
    background-image: var(--photo);
    background-size: cover;
    background-position: center center;
    background-color: #90ee90;
    grid-column: auto/2 span;
    border-radius: 5px;
    position: relative;

    &.long-x {
      grid-column: auto/3 span;
    }

    &.long-y {
      grid-row: auto/2 span;
    }

    .overflow {
      font-family: monospace;
      position: absolute;
      background-color: rgba(0,0,0,0);
      transition: all 0.2s ease-in;
      color: #fff;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__header {
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0px 0px 5px #000;
      }

      &__description {
        opacity: 0;
        transition: all 0.2s ease-in;
        color: #fff;
        margin-top: 10px;
        font-weight: normal;
        font-size: 18px;
      }

      &:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.6);

        .overflow__description {
          opacity: 1;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
</style>
